@model PersoneFormFile

@{
    ViewData["Title"] = "Uploadfile";
}

<div class="text-center">
    <h1 class="display-4">Upload file...</h1>
</div>

<form asp-action="Index" enctype="multipart/form-data">   
    <input asp-for="Descrizione"/>
    <input asp-for="MioFormFile"/>
    <input type="submit"/>
</form>